################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RazorSharpener/bin
/RazorSharpener/obj
/RazorSharpener.Console/bin
/RazorSharpener.Console/obj
/publish_nuget.cmd
